@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap);
@font-face {
  font-family: Moderna;
  src: url(fe21a7c7423dc0d8e154.otf);
}

@font-face {
  font-family: Novante;
  src: url(329b423cedfcf0f30ec5.otf);
}


:root{
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --screen-xs: 0;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;
  --color1: rgb(127, 255, 0);
  --background-color: rgb(224, 201, 166);
  --footer-color:  rgb(193, 176, 151);
  --menu-background:  rgb(215, 205, 190);
  --menu-hover-color: rgb(237, 232, 226);
  --text-color: rgb(58, 4, 32);
  --test: rgb(255, 228, 196);
  --old: rgba(193, 154, 81, 1);
  --old-2: rgba(255, 235, 201, 1);
  --old-3: rgba(247, 221, 163, 1);
  --old-4: rgba(226, 188, 107, 1);
  --old-5: rgba(227, 197, 124, 1);
  --old-6: rgba(231, 202, 160, 1);
  --old-7: rgba(230, 195, 114, 1);
  --old-8: rgba(255, 245, 231, 1);
  --almost:  rgb(237, 232, 226);
  --opp-1: rgba(94, 79, 56, 1);
  --opp-2: rgba(27, 30, 31, 1);
  --opp-3: rgba(83, 53, 0, 1);
  --opp-4: rgba(75, 63, 45, 1);
  --opp-5: rgba(22, 24, 25, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  background: transparent;
}

html{
  color: var(--text-color);
  background-color: var(--old-8);
  font-family:  "Red Hat Display", "Noto Sans", Helvetica;
}

header{
  display: flex;
  justify-items: center;
  height: 0dvh;
}

nav{
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1 auto;
}

button{
  width: 200px;
  height: 60px;
  font-size: 2em;
  font-weight: 600;
  font-family:  "Red Hat Display", "Noto Sans", Helvetica;
  border-radius: 10px;
  background-color: var(--almost);
}

h1{
  font-size: 2em;
  font-weight: 700;
}

h2{
  font-size: 1.8em;
  font-weight: 700;
}

h3{
  font-size: 1.6em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 40px 0;
}


li{
  list-style-type: none;
}

br{
  padding: 0;
  margin: 0;
  font-size: .8em;
}

a, a:link, a:hover, a:active, a:visited{
  text-decoration: none;
}


section {
  display: flex;
  height: 100dvh;
  width: 100vw;
}

.title{
  font-family: Novante;
}

h1.title{
  font-size: 4em;
}

#content{
  display: grid;
  place-content: center;
  align-items: center;
  justify-items: center;
}


/* Home */

.home{
  display:flex;
  height: 100dvh;
  width: 100vw;
  background-image: url(06b8f2e3c3313f7b643f.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  z-index: -1;
}

.welcome{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  min-height: 40vh;
  max-width: 80vw;
  align-items: center;
  justify-items: center;
}

.story{
  flex-basis: 1000px;
  display: grid;
  place-content: center;
  padding: 80px 0;
}

.story h1{
  display: grid;
  place-content: center;
  font-weight: 400;
  font-size: 5.9em;
  text-align: center;
}

.story-text{
  font-family: "Noto Sans";
}

.story-text p{
  margin: 40px;
}


/* Menu */

.menu{
  display:flex;
  height: 90dvh;
  width: 100vw;
  flex-direction: row;
  z-index: -1;
  justify-items: start;
  align-items: start;
  flex-wrap: wrap;
}



.menu-left{
  display: flex;
  flex-direction: column;
  height: 90dvh;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
  flex: 0 0 40%;
  max-width: 40%;
}

.menu-left p{
  margin: 20px 0px;
}

.left-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: 25vw;
}

.menu-right{
  display: flex;
  background-image: url(457e447721227da5eaf3.jpg);
  background-size: cover;
  background-position: center;
  height: 90dvh;
  flex: 0 0 60%;
  max-width: 60%;
}

.option-bar{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--opp-2);
  color: var(--text-color);
  flex-wrap: wrap;
}

.option-item{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-basis: 25%;
  height:100%;
  min-height: 10dvh;
}

a.option-item,
a.option-item:link, 
a.option-item:hover,
a.option-item:active,
a.option-item:visited{
  font-weight: 700;
  font-size: 1.8em;
  color: var(--almost);
  font-family: "Noto Sans";
}   

a.option-item:hover{
  color: var(--text-color);
  background-color: var(--opp-5);
  color: var(--old-7);
}

.menus{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
}

.menus-container{
  display: grid;
  /* min-height: 67dvh; */
  min-height: calc( 90dvh - 180px);
  place-content: center;
  flex:0;  
}

.collapsed{
  min-height: 0dvh;
}

.expand{
  flex:1;
  min-height: calc( 90dvh - 180px);
  padding: 50px 0;
  transition: all 1s linear;
}

.menu-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  color: transparent;
  flex: 0;
  transition: all 1s ease;
}

.display{
  flex:1;
  color: var(--text-color);
  padding: 40px 0;
  background-color: var(--old-3);
  transition: all 1s ease .5s;
}

.menu-title{
  font-size: 2.2em;
  font-weight: 700;
  text-transform: capitalize;
}
.menu-item{
  width: 90%;
}

.dish-name{
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.dish-description{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  
}

.dish-price{
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 500;
  text-align: center;
}


/*  About */
.about{
  display:flex;
  width: 100vw;
  flex-direction: row;
  z-index: -1;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.the-team{
  display:flex;
  width: 100vw;
  flex-direction: row;
  z-index: -1;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}


.about-left{
  display: flex;
  background-image: url(3a0feb7362858bb79ff2.jpg);
  background-size: cover;
  background-position: center;
  height: 100dvh;
  flex: 0 0 60%;
  max-width: 60%;
}

.about-right{
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
  flex: 0 0 40%;
  max-width: 40%;
}

.about-left p,
.team-right p{
  margin: 20px 0px;
}

.left-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: 25vw;
}

.team-right{
  display: flex;
  background-image: url(5730d333d7ec090005bb.jpg);
  background-size: cover;
  background-position: center;
  height: 100dvh;
  flex: 0 0 60%;
  max-width: 60%;
}

.team-left{
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
  flex: 0 0 40%;
  max-width: 40%;
  padding-left: 40px;
}

.section-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: 25vw;
}

.details{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  min-height: 100dvh;
  align-items: center;
  justify-items: center;
  flex:1;
}

.about-footer{
  background-color: var(--footer-color);
  display: grid;
  grid: 1fr/ 1fr;
  width: 100vw;
  place-content: center;
  gap:20px;
  padding: 40px 0;
} 

.about-footer-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.about-hours, 
.about-location{
  display: flex;
  flex-direction: column;
  place-content: center;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.about-hours p{
  margin: 0 0 20px;
}

.about-location p{
  margin: 0 0 6px;
}

p.days{
  font-size: 1.3em;
  font-weight: 400;
  margin: 18px 0 0;
}

p.hours{
  font-weight: 300;
  font-size: 1em;
  margin: 0;
}



.details .story{
  background-color: var(--old-2);
}

/*  Footer */
.footer{
  background-color: var(--footer-color);
  display: grid;
  grid: 1fr/ 1fr;
  width: 100vw;
  place-content: center;
  gap:20px;
  padding: 40px 0;
} 

.footer-container{
  display: flex;
  /* flex:1; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

nav .location{
  align-items: start;
  flex:0 400px;
  padding-top: 40px;
  gap: 10px;
} 

footer .location{
  display: flex;
  flex-direction: row;
  gap:10px;
  flex:0 400px;
  justify-content: start;
}

.location > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.name{
  font-size: 1.5em;
  font-weight: 600;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.social > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-items: center;
  align-items: center;
}


/* Social Icons */
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer ~ .social-icons {
  padding: 0px 0;
  flex: 0 200px;
}

nav .social{
  flex-direction: column;
  padding-top: 40px;
}


/* Hamburger Menu */


.btn-nav {
  position: fixed;
  top: 20px;
  left: 5px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 999;
  width: 40px;
}

.btn-nav:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  background-color: var(--almost);
}

.btn-nav:hover .icon-bar {
  background-color: var(--old-7);
}


.nav-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(-95vw + 60px);
  right: 0;
  background-color: rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
  width: 95vw;
  z-index: 19;
  border-right: 10px double #ffffff;
}

.nav-content .location{
  color: var(--old-7);
  flex: 0;
  font-size: 1.4em;
}

.nav-content .social{
  color: var(--almost);
  flex: 0;
  font-size: 1.2em;
}

.nav-content .title{
  color: var(--old-7);
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 0 0 140px;
  flex-direction: column;
  text-align: center;
  font-family: Novante, serif;
  padding-bottom: 60px;
}


.nav-item {
  margin: 10px auto 20px;
  text-align: center;
  color: var(--old-7);
}


.nav-list {
  list-style: none;
  padding: 0;
  position: relative;
  top: 10%;
}

.animated {
  display: block;
  margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar{
  background-color: var(--old-7);
}

.animated:focus {
  cursor: pointer;
  z-index: 999;
}

.middle {
  margin: 0;
}

.icon-bar {
  transition: all .7s ease;
  z-index: 999;
}

.animated .icon-bar {
  z-index: 999;
  background-color: var(--almost);
}

.animated .up {  transform: translateY(10px) rotateZ(45deg);}
.animated .down { transform: translateY(-12px) rotateZ(-45deg); }
.animated .middle { width: 0; }


@keyframes hideNav {
  from { left: calc(-95vw + 60px); }
  to { left: 0; }
}

@keyframes showNav {
  from { left: 0; }
  to { left: calc(-95vw + 60px);}
}

.showNav { animation: showNav 0.5s ease-in-out forwards; }
.hideNav { animation: hideNav 0.5s ease-in-out forwards; }

.hidden { display: none; }



/*  RESPONSIVE MEDIA QUERIES */

@media screen and ( min-width: 1281px) {

  .nav-content{
    left: calc(-95vw + 60px);
  }

  .menu-content{
    width: 1000px;
  }
}

@media screen and ( min-width: 801px) and (max-width: 1280px) {
  .nav-content{
    left: calc(-95vw + 60px);
  }

  .menu-content{
    width: 85vw;
    margin-left: 50px;
  }

  .details{
    margin-left: 100px;
    flex: 0 82vw;
  }

  .story-text{
    width: 75vw;
  }


  .menu-left{
    padding-left: 60px;
  }

  .option-bar{
    justify-self: end;
    width: calc(100vw - 60px)
  }
  
}

@media screen and ( max-width: 800px)  {

  .nav-content{
    left: calc(-85vw + 60px);
    width: 85vw;
  }

  .btn-nav {
    top: 20px;
    left: 5px;
  }

  @keyframes hideNav {
    from { left: calc(-85vw + 60px); }
    to { left: 0; }
  }
  
  @keyframes showNav {
    from { left: 0; }
    to { left: calc(-85vw + 60px);}
  }
  
  .showNav { animation: showNav 0.5s ease-in-out forwards; }
  .hideNav { animation: hideNav 0.5s ease-in-out forwards; }

  .nav-content .title{
    width: 400px;
    align-self: center;
    font-size: 4em;
  }

  section{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    height: 200dvh;
  }

   section#info,
   section#hero,
   section#story{
    margin-left: 60px;
    height: 100dvh;
  }


  .menu-content{
    width: 99vw;
    padding-left: 60px;
  }
  .menu{
    height: 100%;
  }

  .container{
    flex-wrap: wrap;
  }

  .left-content, 
  .section-content{
    width: 50vw;
  }

  .menu-left, 
  .menu-right,
  .about-right,
  .about-left,
  .team-left,
  .team-right
  {
    flex: 0 0 100%;
    max-width: 100%;

  }



  .about-left{
    order: 1;
  }

  .about-right{
    order: 0;
  }

  .team-right{
    order:1;
  }
  .team-left{
    order:0;
  }
  .details{
    order:0;
  }

  .story-text{
    width: 85vw;
  }

  .story .title {
    text-wrap: wrap;
    font-size: 5em;
    text-align: center;
  }


  a.option-item,
  a.option-item:link,
  a.option-item:active,
  a.option-item:hover,
  a.option-item:visited{
    font-weight: 300;
    font-size: 1.6em;
    letter-spacing:1.5dvh;
  }

  .option-item{
    flex-basis: 100%;
    min-height: 5dvh;
    border-bottom: 1px solid #343a4034;
  }

  .expand{
    min-height: calc(60dvh - 400px);  }

  footer .location{
    justify-content: center;
  }
}
